/* CSS for the input section */

body {
	margin: 30px 30px 30px 30px;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background-color: lightyellow;
}

h1 {
  font-family: 'Oxygen', sans-serif;;
  color: forestgreen;
  font-size: 58px;
}

.header {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px;
	padding-bottom: 10px;
}

.input-section {
	height: 50px;
	background-color: lightyellow;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.enter-password {
	flex: 1;
	margin-right: 10px;
	padding: 5px;
	font-size: 16px;
	flex-direction: column;
	align-items: center;
}

input[type="text"] {
	flex: 1;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 15px;
	font-size: 16px;
	border: forestgreen;
	border-style: dashed;
	border-radius: 1000px;
}

button[type="submit"] {
	background: white;
	color: none;
	border: forestgreen;
	border-style: dashed;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 15px;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	border-radius: 1000px;
}


button[type="enter"] {
	background: green;
	color: white;
	border: none;
	padding: 5px 5px;
	top: 50px;
	font-size: 12px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}


/* CSS for the output section */

.output-section {
	padding: 10px;
	box-sizing: border-box;
}

.text-box {
	display: inline-block;
	background-color: none;
	border: 0.75px solid black;
	padding: 50px 50px;
	margin: 8px;
	box-sizing: border-box;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	word-wrap: break-word;
	transition: opacity 0.5s ease;
}

.text-box:hover {
  opacity: 0.5;
}

.delete-button {
	float: right;
	background-color: transparent;
	color: red;
	border: none;
	padding: 3px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 10px;
}

.delete-button:hover {
	background-color: yellow;
}

.footer {
	height: 20px;
	display: flex;
	align-items: left;
	justify-content: left;
	margin: 50px;
	padding-bottom: 10px;
	position: fixed;
	bottom: 0;
	font-size: 10px;
	color: orange;
}

